<!DOCTYPE html>
<html lang="en">
	<head>
		<title>My Blog</title>
	</head>
	<body>
		<p>
			<form action="/form" method="post">
				<input type="text" name="message">
				<button type="submit">Submit</button>
			</form>
			<text name="entries"><%= @name %></text>
		</p>
	</body>
</html>